build-*
install-*
.gradle
.idea/
.settings
.vscode
build
nuget/products
nuget/WPILib.DriverStation.SDL.runtime/runtimes
nuget/WPILib.DriverStation.SDL.staticruntime/runtimes
**/.DS_Store
bin/
obj/
*.sln
